body {
    margin: 0 2em;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    max-width: 50em;
    background-color: #011627;
    color: #addb67; /* green text */
    color: #d6deeb; /* white greyish text */
}
a {
    color: #addb67; /* green links */
    color: #ecc48d; /* bright amber links */
}
.defn {
    margin-top: 2em;
    margin-bottom: 0;
    font-style: italic;
    font-size: smaller;
}
header {
    border-bottom: 1px solid #ddd;
}
header p {
    margin: 0.5em 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.navbar a {
    margin-right: 0.5em;
}
.navbar h1 {
    display: inline;
    font-size: 1em;
}

.heading {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}
.finetext {
    font-size: 0.8em;
}
.finetext, .finetext a {
    color: #888;
}

.line-menu {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.line-menu li {
    margin: 0;
    padding: 0;
    display: inline;
}
.line-menu li:not(:first-child)::before {
    content: " | ";
}

.doc-title {
    color: #addb67; /* green */
}
.doc-title a {
    color: #addb67; /* green */
    text-decoration: none;
}

.vertical-list {
    list-style-type: none;
    padding: 0;
}
.vertical-list li {
    padding-bottom: 1em;
}
.vertical-list p {
    margin: 0;
    padding: 0;
}


