body {
    margin: 0 2em 1em;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    max-width: 50em;
    background-color: #011627;
    color: #addb67; /* green text */
    color: #d6deeb; /* white greyish text */
}
a {
    color: #addb67; /* green links */
    color: #ecc48d; /* bright amber links */
}
.defn {
    margin-top: 2em;
    margin-bottom: 0;
    font-style: italic;
    font-size: smaller;
}
.masthead {
    margin: 0 0 0.8em;
    border-bottom: 1px solid #ddd;
}
.masthead p {
    margin: 0.5em 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.navbar a:not(:last-child) {
    margin-right: 0.5em;
}
.navbar h1 {
    display: inline;
    font-size: 1em;
}

.pagenav {
    display: flex;
    justify-content: space-between;
}
.pagenav a:not(:last-child) {
    margin-right: 0.5em;
}

.heading {
    margin: 0.2em 0;
    font-size: 1.2em;
}
.finetext {
    font-size: 0.8em;
}
.finetext, .finetext a {
    color: #888;
}
.smalltext {
    font-size: 0.8em;
}
.italic {
    font-style: italic;
}
.align-right {
    text-align: right;
}
.margin-top {
    margin-top: 1em;
}
.margin-bottom {
    margin-bottom: 1em;
}
.smallmargin-top {
    margin-top: 0.5em;
}
.smallmargin-bottom {
    margin-bottom: 0.5em;
}

.line-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.line-menu li {
    margin: 0;
    padding: 0;
    display: inline;
}
.line-menu li:not(:first-child)::before {
    content: " | ";
}

.doc-title {
    color: #addb67; /* green */
}
.doc-title a {
    color: #addb67; /* green */
    text-decoration: none;
}

.vertical-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.vertical-list li {
    padding-bottom: 0.5em;
}
.vertical-list p {
    margin: 0;
    padding: 0;
}

.dotted {
    border: dashed 1px;
    color: #888;
}
.compact h1, .compact h2, .compact h3, .compact h4, .compact h5 {
    font-size: 1em;
}
.compact > * {
    margin: 0.2em 0 0.5em;
}

.error {
    color: #f00;
}
.success {
    color: #addb67; /* green */
}
.simpleform .control {
    margin: 0.5em 0;
    padding: 0;
}
.simpleform .control label {
    display: block;
}
.simpleform input:focus, .simpleform textarea:focus, .simpleform button:focus {
    border: 0.3em solid #addb67;
}
.simpleform .control button {
    margin-right: 0.5em;
}
.submit {
    font-weight: bold;
}

.displayonly input, .displayonly textarea {
    background-color: #aaa;
}
.warning {
    color: #f00;
}

.reply {
    margin-bottom: 1.2em;
}
.content h1, .content h2, .content h3, .content h4 {
    font-size: 1em;
}

.file-browser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.file-item {
    border: 1px solid #888;
    padding: 0.2em;
    flex-basis: 11em;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.file-item .heading {
    font-size: 0.8em;
    word-break: break-all;
}
.file-item img.preview {
    max-width: 100%;
}
.file-item .file-desc {
    font-size: 0.8em;
    overflow: hidden;
    margin: 0.2em 0;
}
.file-item p {
    padding: 0;
    margin: 0;
}
.file-desc.large {
    max-height: 100%;
}
.file-desc.small {
    max-height: 1.5em;
}


